

@import 'bootstrap';

//bootstrap and bootstrap components

//@import "CSS:../../bower_components/bootstrap/dist/css/bootstrap";  
//@import "CSS:../../bower_components/bootstrap/dist/css/bootstrap-theme";  

//@import "CSS:../../bower_components/bootstrap-datepicker/css/datepicker";
//@import "CSS:../../bower_components/bootstrap-datepicker/css/datepicker3";

//@import "CSS:../../bower_components/bootstrap-table/dist/bootstrap-table.min";

//@import "CSS:../../bower_components/bootstrap-tags/dist/css/bootstrap-tags";

//@import "CSS:../../bower_components/sass-bootstrap-glyphicons/css/bootstrap";
//@import "CSS:../../bower_components/sass-bootstrap-glyphicons/css/bootstrap-glyphicons";
//@import "CSS:../../bower_components/sass-bootstrap-glyphicons/css/docs";


@import "../../bower_components/fontawesome/scss/font-awesome";

@import "../../bower_components/typeplate-starter-kit/scss/_typeplate";

@import "CSS:../../bower_components/webfont-opensans/stylesheet";

//semantic ui
@import "CSS:../../bower_components/semantic-ui/build/packaged/css/semantic";
//@import "semantic-ui-sass";
//@import 'semantic-ui';



//angular and angular components

@import "CSS:../../bower_components/angular/angular-csp";

@import "CSS:../../bower_components/angular-xeditable/dist/css/xeditable";


@import "CSS:../../bower_components/chosen/public/chosen";
@import "CSS:../../bower_components/chosen/public/docsupport/prism";
@import "CSS:../../bower_components/chosen/public/docsupport/style";

@import "CSS:../../bower_components/alertify.js/themes/alertify.default";
@import "CSS:../../bower_components/alertify.js/themes/alertify.bootstrap";
@import "CSS:../../bower_components/alertify.js/themes/alertify.core";

@import "CSS:../../bower_components/datatables/media/css/jquery.dataTables";
@import "CSS:../../bower_components/datatables/media/css/jquery.dataTables_themeroller";

@import "CSS:../../bower_components/datatables-bootstrap3/BS3/assets/css/datatables";

@import "CSS:../../bower_components/DataTables-FixedHeader/css/dataTables.fixedHeader";

@import "CSS:../../bower_components/datatables-responsive/css/dataTables.responsive";

@import "CSS:../../bower_components/datatables-scroller/css/dataTables.scroller";

@import "CSS:../../bower_components/dropzone/downloads/css/basic";
@import "CSS:../../bower_components/dropzone/downloads/css/dropzone";

@import "CSS:../../bower_components/fontawesome/css/font-awesome";

//@import "CSS:../../bower_components/foundation/css/foundation";
//@import "CSS:../../bower_components/foundation/css/normalize";


@import "CSS:../../bower_components/foundation-icons/foundation_icons_accessibility/stylesheets/accessibility_foundicons";
@import "CSS:../../bower_components/foundation-icons/foundation_icons_accessibility/stylesheets/accessibility_foundicons_ie7";
@import "CSS:../../bower_components/foundation-icons/foundation_icons_general/stylesheets/general_foundicons";
@import "CSS:../../bower_components/foundation-icons/foundation_icons_general/stylesheets/general_foundicons_ie7";
@import "CSS:../../bower_components/foundation-icons/foundation_icons_general_enclosed/stylesheets/general_enclosed_foundicons";
@import "CSS:../../bower_components/foundation-icons/foundation_icons_general_enclosed/stylesheets/general_enclosed_foundicons_ie7";
@import "CSS:../../bower_components/foundation-icons/foundation_icons_social/stylesheets/social_foundicons";
@import "CSS:../../bower_components/foundation-icons/foundation_icons_social/stylesheets/social_foundicons_ie7";

//@import "CSS:../../bower_components/fuelux/dist/css/fuelux";

@import "CSS:../../bower_components/jquery-file-upload/css/jquery.fileupload";
@import "CSS:../../bower_components/jquery-file-upload/css/jquery.fileupload-noscript";
@import "CSS:../../bower_components/jquery-file-upload/css/jquery.fileupload-ui";
@import "CSS:../../bower_components/jquery-file-upload/css/jquery.fileupload-ui-noscript";

@import "CSS:../../bower_components/select2/select2";
@import "CSS:../../bower_components/select2/select2-bootstrap";


$page_background_color 	: #f1f1f1;

$eid_main_color			: #438eb9;
$vl_main_color			: #c6487e;
$cd4_main_color			: #2e8965;


body{
	background:#efefef url("../../images/pattern.jpg") repeat;
}

.head-title{
	background-color: #eaeaea;
	padding: 0.9375rem 1.25rem;
	text-align: center;
	font-weight: normal;
	font-size: 1rem;
	font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;	
}
.main-content{
	
}
ui.vertical.menu.min {
	width: 13rem !important;
}






#sidebar{
    .item,.label{
        font-size:14px !important;
    }
    .active.eid{
        color:$eid_main_color !important;
        .label{
            background:$eid_main_color !important;
        }
    }
    .active.vl{
        color:$vl_main_color !important;
        .label{
            background:$vl_main_color !important;
        }
    }
    .active.cd4{
        color:$cd4_main_color !important;
        .label{
            background:$cd4_main_color !important;
        }
    }

}

.main{
      background:#fff !important;
      padding:1%;
      border-radius: 0.1875em 0.1875em 0px 0px;
}







